.task-directory {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 70vh;
  align-content: flex-start;
}

.categories-directory {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 12vh;
  align-content: flex-start;
}
